/* menú */
@import 'shared/variables';
.menu {  
  .box-container {
    display: flex;
    width: 96vw;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
    .box {
      width: 20rem;
      height: 100%;
      border: var(--border);
      color: #fff;
      &:hover {
        background-color: #fff;
        color: black;
      }
      
      .card {
        display: flex;
        flex-direction: column;
        padding: 10% 0;


        img {
          align-self: center;
          border-radius: 50%;
          height: 100px;
          width: 100px;
          object-fit: cover;
        }

        .card-body {
          align-self: center;
          text-align: center;
          width: 70%;
          height: 100%;

          .card-title {
            font-size: 20px;
            padding: 1rem 0;
          }

          .price {
            font-size: 1.5rem;
            padding: 0.5rem 0;

            span {
              font-size: 1.5rem;
              text-decoration: line-through;
              font-weight: lighter;
            }
          }
        }

        .card-footer {
          .row {
            font-size: 10px;

            button{
              margin-top: .6rem;
              display: inline-block;
              padding: .3rem 1.3rem;
              font-size: 1rem;
              color: $white;
              background: $main-color;
              cursor: pointer;
              
              &:hover {
                
                letter-spacing: .1rem;
              }
            }

            // button {
            //   width: 100%;
            //   background: rgb(127, 187, 15);
            //   text-transform: uppercase;
            //   padding: 1em;
            // }

            // button:hover {
            //   background: rgb(43, 172, 31);
            //   color: #fff;
            //   transition: background-color 1s ease-out;
            //   outline: 0;
            //   cursor: pointer;
            // }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu {
    .box-container {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
  }
}