@charset "UTF-8";
.home {
  margin-top: 5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 2, 0, 0.6), rgba(0, 0, 2, 0.6), rgba(0, 0, 0, 0.45)), url(../../../images/chef.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content {
  padding: 0 4rem;
  margin: 0;
}
.home .content h3 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.home .content p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
  padding: 1rem 0;
  color: rgb(51, 137, 51);
}

.btn {
  margin-top: 0.6rem;
  display: inline-block;
  padding: 0.3rem 1.3rem;
  font-size: 1.5rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}
.btn:hover {
  letter-spacing: 0.1rem;
}

.about .row {
  border-radius: 10px;
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}
.about .row .image {
  width: 100%;
  padding: 1rem;
}
.about .row .image img {
  width: 100%;
  border-radius: 10px;
}
.about .row .content {
  width: 100%;
  padding: 2rem;
}
.about .row .content h3 {
  font-size: 2rem;
  color: #fff;
}
.about .row .content p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}
@media (min-width: 768px) {
  .about .row .image {
    width: 50%;
  }
  .about .row .content {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }
  .home .content h3 {
    font-size: 2rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}
/*  opinion home */
.heading {
  margin: 3%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}
.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

/* Estilos generales */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 80%;
  position: relative;
  /* Estilos para los input y textarea */
  /* Estilos para los label */
  /* Estilos para los botones en el formulario */
}
.modal .modal-content form div:first-child {
  display: flex;
}
.modal .modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.modal .modal-content input[type=text],
.modal .modal-content input[type=hidden],
.modal .modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.modal .modal-content label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}
.modal .modal-content button[type=submit] {
  background-color: #118e2e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.modal .modal-content button[type=submit]:hover {
  background-color: #3ce516;
  letter-spacing: 0.1, 1rem;
  transition: 1s;
  transform: scale(1.1);
  color: white;
}

.plain-input {
  border: none;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
}

.imagh {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

/* Estilos para la línea horizontal */
.line {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.titl {
  font-size: 20px;
  text-align: center;
}

/* Estilos para el botón del modal */
.styled-button {
  background-color: #118e2e;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 3em;
}
.styled-button:hover {
  background-color: #3ce516;
  letter-spacing: 0.1, 1rem;
  transition: 1s;
  transform: scale(1.1);
  color: white;
}

/* ... Otros estilos ... */
/* Estilos para las estrellas en la sección de comentarios */
#review .rating__stars {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  align-items: center;
  margin-top: 20px;
}

#review .custom-rating__input {
  display: none;
}

#review .rating__label {
  cursor: pointer;
  padding: 0.1875em;
}

#review .rating__star {
  width: 32px;
  height: 32px;
}

#review .rating__star-body {
  fill: var(--star-dim);
  transition: fill var(--trans-dur) var(--bezier);
}

#review .rating__input:checked ~ .rating__label .rating__star-body {
  animation-name: starSpin;
  fill: var(--star);
}

#review .rating__input:checked ~ .rating__label .rating__star-body-g {
  animation-name: starJump;
}

#review .rating__label:hover .rating__star-body {
  fill: var(--star);
}

#review .rating__label {
  display: inline-block;
  position: relative;
  margin-right: 10px; /* Agrega margen entre las estrellas */
}

#review .rating__sr {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

/* ... Otros estilos ... */
/* Estilos para el sistema de clasificación con estrellas */
.star-rating {
  display: flex; /* Cambiado a flex para que las estrellas estén en línea */
  align-items: center; /* Alinea las estrellas verticalmente en el contenedor flex */
  margin-top: 20px;
  flex-direction: row-reverse; /* Cambiado a row-reverse para que las estrellas vayan de derecha a izquierda */
  position: relative;
  left: -64%;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 2.5em; /* Aumenta el tamaño de las estrellas */
  padding: 0.2em;
  cursor: pointer;
  color: #ccc;
  margin-left: 5px; /* Ajusta el espacio entre las estrellas según tus necesidades */
}

.star-rating label:before {
  content: "★"; /* Unicode character for a star */
}

.star-rating input:checked ~ label {
  color: #ffdd00; /* Color de la estrella cuando está seleccionada */
}

.review {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}
.review h1 span {
  color: rgb(51, 137, 51);
  font-family: mv boli;
}
.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 30px;
}
.review .box-container .box {
  max-width: 90%;
  border-radius: 2%;
  border: var(--border);
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .box-container .box .quote {
  align-self: flex-start;
}
.review .box-container .box p {
  font-size: 1.2rem;
  color: #ccc;
  padding: 1.4rem 0;
}
.review .box-container .box .user-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
.review .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 1.3rem;
  color: #fff;
}
.review .box-container .box .stars i {
  font-size: 1rem;
  color: var(--main-color);
}

/* Productos home */
.heading {
  margin: 3%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}
.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.modal-frame {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  visibility: hidden;
}

.modal-body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  height: 400px;
  margin-top: -200px;
  top: 50%;
  z-index: 100;
}

.modal-inner {
  padding: 50px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -webkit-transition: 0.45s ease-in-out;
  -moz-transform: scale(0.5);
  -moz-transition: 0.45s ease-in-out;
  -ms-transform: scale(0.5);
  -ms-transition: 0.45s ease-in-out;
  -o-transform: scale(0.5);
  -o-transition: 0.45s ease-in-out;
  transform: scale(0.5);
  transition: 0.45s ease-in-out;
}

.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: #333;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.modal-inner {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.modal-frame.active {
  visibility: visible;
  height: inherit;
  display: block;
}

.modal-frame.active .modal-body {
  -webkit-animation: popperIn 0.45s;
  -moz-animation: popperIn 0.45s;
  -ms-animation: popperIn 0.45s;
  -o-animation: popperIn 0.45s;
  animation: popperIn 0.45s;
}

@-webkit-keyframes popperIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes popperIn {
  0% {
    opacity: 0;
    -moz-transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes popperIn {
  0% {
    opacity: 0;
    transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes popperOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
  }
}
@-moz-keyframes popperOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    -moz-transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1.15);
  }
}
@keyframes popperOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}
.modal-frame.active .modal-inner {
  opacity: 1;
  -webkit-transform: scale(1);
  -webkit-transition: 0.15s ease-in-out;
  -webkit-transition-delay: 0.13s;
  -moz-transform: scale(1);
  -moz-transition: 0.15s ease-in-out;
  -moz-transition-delay: 0.13s;
  -ms-transform: scale(1);
  -ms-transition: 0.15s ease-in-out;
  -ms-transition-delay: 0.13s;
  -o-transform: scale(1);
  -o-transition: 0.15s ease-in-out;
  -o-webkit-transition-delay: 0.13s;
  transform: scale(1);
  transition: 0.15s ease-in-out;
  transition-delay: 0.13s;
}

.modal-inner {
  padding: 30px; /* Reducir el relleno para que el contenido no ocupe tanto espacio */
  opacity: 0;
  -webkit-transform: scale(0.5) translateY(-20px); /* Agregar traslación hacia arriba */
  -webkit-transition: 0.45s ease-in-out;
  -moz-transform: scale(0.5) translateY(-20px);
  -moz-transition: 0.45s ease-in-out;
  -ms-transform: scale(0.5) translateY(-20px);
  -ms-transition: 0.45s ease-in-out;
  -o-transform: scale(0.5) translateY(-20px);
  -o-transition: 0.45s ease-in-out;
  transform: scale(0.5) translateY(-20px);
  transition: 0.45s ease-in-out;
  text-align: center;
}

.modal-inner img {
  max-width: 80%; /* Reducir el tamaño de la imagen */
  border: 2px solid #4CAF50; /* Cambiar el color del borde a verde (#4CAF50) */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.modal-frame.active .modal-overlay {
  opacity: 0.5;
  visibility: visible;
}

.modal-frame.leave .modal-body {
  opacity: 0;
  -webkit-animation: popperOut 0.5s;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -webkit-transform: scale(0.95);
  -moz-animation: popperOut 0.5s;
  -moz-transition: 0.3s ease-in-out;
  -moz-transition-delay: 0.2s;
  -moz-transform: scale(0.95);
  -ms-animation: popperOut 0.5s;
  -ms-transition: 0.3s ease-in-out;
  -ms-transition-delay: 0.2s;
  -ms-transform: scale(0.95);
  animation: popperOut 0.5s;
  transition: 0.3s ease-in-out;
  transition-delay: 0.2s;
  transform: scale(0.95);
}

.modal-frame.leave .modal-inner {
  opacity: 0;
  -webkit-transform: scale(0.95);
  -webkit-transition: 0.15s ease-in-out;
  -moz-transform: scale(0.95);
  -moz-transition: 0.15s ease-in-out;
  -ms-transform: scale(0.95);
  -ms-transition: 0.15s ease-in-out;
  -o-transform: scale(0.95);
  -o-transition: 0.15s ease-in-out;
  transform: scale(0.95);
  transition: 0.15s ease-in-out;
}

.products {
  margin: auto 2rem;
}
.products .box-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 18rem));
  gap: 1rem;
}
.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 0.7rem 0;
  height: 100%;
}
.products .box-container .box .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.products .box-container .box .icons a {
  border-radius: 30%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.3rem;
  line-height: 3.4rem;
  border: var(--border);
  color: #fff;
  margin: 0.3rem;
}
.products .box-container .box .icons a:hover {
  background: var(--main-color);
}
.products .box-container .box .image {
  padding: 0 2rem;
  height: 10rem;
}
.products .box-container .box .image img {
  width: 100%;
  height: 100%;
}
.products .box-container .box .content h3 {
  padding-top: 5%;
  color: #fff;
  font-size: 1.4rem;
}
.products .box-container .box .content p {
  color: #fff;
  font-size: 0.9rem;
}
.products .box-container .box .content .stars {
  padding: 1rem;
}
.products .box-container .box .content .stars i {
  font-size: 1.4rem;
  color: var(--main-color);
}
.products .box-container .box .content .price {
  color: #fff;
  font-size: 1.5rem;
}
.products .box-container .box .content .price span {
  font-weight: lighter;
  font-size: 1rem;
}

.contact .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}
.contact .row .map {
  flex: 1 1 35rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 35rem;
  padding: 3rem 5rem;
  text-align: center;
}
.contact .row form h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
}
.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin: 1rem;
  background: var(--bg);
  border: var(--border);
}
.contact .row form .inputBox span {
  color: #fff;
  font-size: 1rem;
  padding-left: 1rem;
}
.contact .row form .inputBox input {
  width: 100%;
  padding: 1.3rem;
  font-size: 1.3rem;
  color: #fff;
  text-transform: none;
  background: none;
}

/* menú */
.menu .box-container {
  display: flex;
  width: 96vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.menu .box-container .box {
  width: 20rem;
  height: 100%;
  border: var(--border);
  color: #fff;
}
.menu .box-container .box:hover {
  background-color: #fff;
  color: black;
}
.menu .box-container .box .card {
  display: flex;
  flex-direction: column;
  padding: 10% 0;
}
.menu .box-container .box .card img {
  align-self: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.menu .box-container .box .card .card-body {
  align-self: center;
  text-align: center;
  width: 70%;
  height: 100%;
}
.menu .box-container .box .card .card-body .card-title {
  font-size: 20px;
  padding: 1rem 0;
}
.menu .box-container .box .card .card-body .price {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.menu .box-container .box .card .card-body .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}
.menu .box-container .box .card .card-footer .row {
  font-size: 10px;
}
.menu .box-container .box .card .card-footer .row button {
  margin-top: 0.6rem;
  display: inline-block;
  padding: 0.3rem 1.3rem;
  font-size: 1rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}
.menu .box-container .box .card .card-footer .row button:hover {
  letter-spacing: 0.1rem;
}

@media (max-width: 768px) {
  .menu .box-container {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
/* para card recetas  home*/
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 18rem));
  gap: 1rem;
  justify-content: center;
}
.blogs .box-container .box {
  border: var(--border);
  height: 100%;
}
.blogs .box-container .box .image {
  height: 11rem;
  overflow: hidden;
  width: 100%;
}
.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.blogs .box-container .box .image img:hover {
  transform: scale(1.2);
}
.blogs .box-container .box .content {
  padding: 0.6rem;
  text-align: center;
}
.blogs .box-container .box .content .title {
  font-size: 1.3rem;
  color: #fff;
}
.blogs .box-container .box .content .title:hover {
  color: var(--main-color);
}
.blogs .box-container .box .content span {
  color: var(--main-color);
  display: block;
  padding-top: 0.5rem;
  font-size: 1rem;
}
.blogs .box-container .box .content p {
  font-size: 1rem;
  line-height: 1.8;
  color: #ccc;
  padding: 1rem 0;
}

/*# sourceMappingURL=home.css.map */
